{% extends "base.html" %}

  {%block head%}
  {{super()}}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
    function drawVisualization() {
      // Create and populate the data table.
      var JSONObject = {{ json_obj|safe}} ;
    
      var data = new google.visualization.DataTable(JSONObject, 0.5);
    
      // Create and draw the visualization.
      visualization = new google.visualization.LineChart(document.getElementById('chart'));
      visualization.draw(data, {'allowHtml': true});
    }

    google.setOnLoadCallback(drawVisualization);
    </script>

  {% endblock %}

{% block body %}
    
    <div id="chart"></div>


{% endblock %}